body{
    background-color: rgb(105,105,105);
}
#wrap{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
svg {
    position: fixed;
    top: -5%;
    height: 60%;
    left: 40%;
    width: 20%;
  }
