#header{
                border: 1px solid black;
                background-color:red;
                position: absolute;
                width: 100%;
                height:110px;
            }
            .logo{
                padding: 15px 20px;
                width:280px; 
                float:left;
                height: 80px;
            }
            .text{
                width:270px; 
                background-color:#080808;
                color: white;
                font-size: 3em;
                font-style: italic;
                font-weight: bold;
                font-family: impact;
                border: 2px solid red;
                padding: 10px;
                border-radius: 50px 20px;
            }
            .text a{
                text-decoration:none;
            }
            span{
                text-decoration:none;
                display:block;
                background:url("../images/fire.jpg");
                background-size: 300px 80px;
                background-repeat: no-repeat;
                background-position: center;
                -webkit-background-clip:text;
                -webkit-text-fill-color:transparent;
                -webkit-animation:fire .9s linear infinite;
            }
            @keyframes fire{
                0%{background-position:0% 50%;}
                0%{background-position:100% -50%;}
            }