html{
    scroll-behavior: smooth;
  }
  #nav {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
  }
  #nav li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 16px;
    font-size: 18px;
  }
  #nav li a:hover {
    background-color: red;
  }
  .active, .btn:hover {
    background-color: red;
    color: white;
  }
#box1{
    margin-top: 30px;
    height: 600px;
    width: 85%;
    float: right;
}
#box2{
    margin-top: 30px;
    height: 600px;
    width: 85%;
    float: right;
}
#box3{
    margin-top: 30px;
    height: 600px;
    width: 85%;
    float: right;
}
#box4{
    margin-top: 30px;
    height: 600px;
    width: 85%;
    float: right;
}
#box5{
    margin-top: 30px;
    height: 600px;
    width: 85%;
    float: right;
}
#box6{
  margin-top: 30px;
  height: 600px;
  width: 85%;
  float: right;
}
#box7{
  margin-top: 30px;
  height: 600px;
  width: 85%;
  float: right;
}
#box8{
  margin-top: 30px;
  height: 600px;
  width: 85%;
  float: right;
}
#box9{
  margin-top: 30px;
  height: 600px;
  width: 85%;
  float: right;
}
#translate{
    width: 100%;
    float: left;
}
#skew{
    width: 100%;
    float: left;
}
#scale{
    width: 100%;
    float: left;
}
#rotate{
    width: 100%;
    float: left;
}
#transition{
  width: 100%;
  float: left;
}
#animation{
  width: 100%;
  float: left;
}
#hover_effect{
  width: 100%;
  float: left;
}
#menu_effect{
  width: 100%;
  float: left;
}
#bubble{
  width: 100%;
  float: left;
}
#svg_text{
  width: 100%;
  float: left;
}
#svg_animation{
  width: 100%;
  float: left;
}
.txt h1{
    font-size: 40px;
    margin: 8%;
    text-align: center;
}