body{
  overflow: hidden;
  background: linear-gradient(to left, rgba(12, 20, 69), rgba(76, 64, 142), rgba(92, 84, 164), rgba(56, 40, 92));
}
.text_container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,-50%);
  width: 100%;
}
.text_container span{
  display: block;
}
.text1{
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}
.text2{
  font-size: 30px;
  color: #6ab04c;
}
@keyframes text{
  0%{
    color:rgba(76, 64, 142) ;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
.bubble div{
 position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  border: 6px solid rgba(255,255,255,.08);
}
.bubble div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.bubble div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.bubble div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.bubble div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.bubble div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.bubble div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.bubble div:nth-child(7){
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.bubble div:nth-child(8){
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.bubble div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.bubble div:nth-child(10){
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 2;
  }
  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 2;
  }
}
#header{
  width: 99%;
  height: 60px;
  position: fixed;
}
#menu {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  transition: 0,5s;
}
#menu li{
  float: left;
}
#link_right{
  float: right;
}
#menu li a{
  text-decoration: none;
  display: flex;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: whitesmoke;
  transition: color 0.5s;
}
#menu li a:hover {
  border-bottom: 1px solid white;
  color: white;
}
#active{
  border-bottom: 1px solid white;
}