#header{
  width: 100%;
  min-height: 110px;
  border: 1px solid black;
  margin: 0 auto;
}
#menu {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  overflow: hidden;
}
#menu li{
  float: right;
}
#menu li a{
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px 15px;
  font-size: 18px;
}
#menu li a:hover {
  background-color: red;
}
#active{
  background-color: red;
}